.body-page {
    width: 700px;
    padding-left: 20px
}

.body-page blockquote,.body-page h1,.body-page h2,.body-page h3,.body-page hr,.body-page p,.body-page pre,.body-page ul,.body-page ol,.body-page table {
    margin: 0 0 20px;
    font-size: 1.143em;
    line-height: 22px
}

.body-page li {
    margin-bottom: 8px
}