.topic-title {
  font-size: 2em;
  font-weight: 700;
  /*green:*/
  color: #00c172;
}
.topic-details{
  margin-bottom: 40px;
}
.topic-post {
  margin-top: 15px;
  /*margin-bottom: 5px;*/
}

.topic-post article.boxed .read-icon:before {
  font-family: "FontAwesome";
  content: "\f02e";
}
.topic-post article.boxed .read-icon.seen {
  color: #cccccc;
  opacity: 1;
}
.topic-post article.boxed .read-icon.last-read {
  color: #770000;
  opacity: 1;
}
.topic-post article.boxed .read-icon.bookmarked {
  opacity: 1;
}
.topic-post article.boxed .read-icon.bookmarked:before {
  color: #b5b500;
}
.topic-post article.boxed img {
  max-width: 100%;
}
.topic-post article.boxed .topic-body {
  position: relative;
}
.topic-post article.boxed .topic-body .contents {
  position: relative;
  border: 1px solid #b9b9b9;
  padding: 0;
  background-color: white;
  word-wrap: break-word;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.topic-post article.boxed .topic-body .contents .cooked {
  padding: 26px 10px 0;
}
.topic-post article.boxed .topic-body .contents .calc {
  background-color: #ffff99;
  margin-bottom: 10px;
  padding: 4px 8px;
  display: none;
}
.topic-post article.boxed .topic-body .contents .calc p {
  font-size: 12px;
  margin: 0 0 5px 0;
}
.topic-post article.boxed .topic-body .contents.bottom-round {
  overflow: hidden;
  background-clip: padding-box;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.topic-post article.boxed .topic-body .contents.avoid-tab {
  padding-top: 30px;
}
.topic-post article.boxed .topic-body .post-actions {
  padding: 3px 0 0px 15px;
  font-size: 12px;
}
.topic-post article.boxed .topic-body .post-actions img {
  margin-right: 2px;
}
.topic-post article.boxed .topic-body footer {
  padding-left: 35px;
}
.topic-post article.boxed section {
  font-size: 14px;
  color: #999999;
}
.topic-post.replies-above .boxed .topic-body .contents {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.topic-body {
  position: relative;
}
.topic-body .cooked > *:first-child {
  margin-top: 0px !important;
}
.topic-body .cooked > blockquote *:first-child {
  margin-top: 0px !important;
}
.topic-body .cooked h1, .topic-body .cooked h2, .topic-body .cooked h3, .topic-body .cooked h4, .topic-body .cooked h5, .topic-body .cooked h6 {
  margin: 20px 0 10px;
}
.topic-body:before, .topic-body:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-color: transparent;
  pointer-events: none;
}
.topic-body:before {
  top: 12px;
  left: -9px;
  border-width: 10px 10px 10px 0;
  border-right-color: #b9b9b9;
}
.topic-body:after {
  top: 13px;
  left: -8px;
  border-width: 9px 9px 9px 0;
  border-right-color: white;
}

.topic-post.hidden {
  display: block;
  opacity: 0.4;
}

.topic-post.deleted {
  opacity: 0.8;
}
.topic-post.deleted article.boxed .topic-body .contents {
  background-color: #ffcece;
}
.topic-post.deleted article.boxed .topic-body::after {
  border-right-color: #ffcece;
}
