
// --------------------------------------------------
// Variables used throughout the theme
// --------------------------------------------------

// Layout dimensions
// --------------------------------------------------

$small-width: 800px !default;
$medium-width: 995px !default;
$large-width: 1110px !default;

// Brand color variables
// --------------------------------------------------

$google: #5b76f7 !default;
$facebook: #3b5998 !default;
$cas: #70BA61 !default;
$twitter: #00bced !default;
$yahoo: #810293 !default;
$github: #6d6d6d !default;

// Fonts
// --------------------------------------------------

$base-font-size: 14px !default;
$base-line-height: 19px !default; 
$base-font-family: Helvetica, Arial, sans-serif !default;




$primary:           #222222 !default;
$secondary:         #ffffff !default;
$tertiary:          #0088cc !default;
$quaternary:        #e45735 !default;
$header_background: #ffffff !default;
$header_primary:    #333333 !default;
$highlight:         #ffff4d !default;
$danger:            #e45735 !default;
$success:           #009900 !default;
$love:              #fa6c8d !default;
$wiki:              #408040 !default;


@import "header";
@import "bootstrap";
@import "topic-post";
@import "home";
@import "buttons";
@import "about";

html, body {
  margin: 20px;
}

.topic-container, .conversations-container, .about-container {
  max-width: 800px
}

/*for tabs above topics and about page*/
.site-nav-tabs > li.active > a, .site-nav-tabs> li.active > a:hover, .site-nav-tabs> li.active > a:focus {
  cursor: pointer;
}


.row{
  margin-top: 10px;
}

/*used in post-details and section-overview*/
.faded{
  color: #aaa;
}

.post-info {
  padding: 6px;
}

.btn .fa {
  margin-right: 7px;
}
.alert-error{
  margin-bottom: 0px;
  color: red;
}
/*for input tips*/
.bad{
  color: red;
}
.good{
  color: green;
}

/*below fixes minor problem with summernote toolbar */
.btn-toolbar {
  margin-left: 0px;
}


.wmd-preview {
	margin: 1%;
}

.reply-row {
	margin-top: 60px;
}

.reply-btn-row {
	margin-top: 60px;
}

.pgdn-textarea {
  min-height: 200px !important;
}
.pagedown-container {
  position: relative;
  border: 1px solid #b9b9b9;
  padding: 2%;
  /*from bottom-round style:*/
    /*overflow: hidden;*/
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  /*to make up for btstrp col margin:*/
  margin: -15px;
}
.pagedown-container .cooked > *:first-child {
  margin-top: 0px !important;
}
.pagedown-container .cooked > blockquote *:first-child {
  margin-top: 0px !important;
}
.pagedown-container .cooked h1, .pagedown-container .cooked h2, .pagedown-container .cooked h3, .pagedown-container .cooked h4, .pagedown-container .cooked h5, .pagedown-container .cooked h6 {
  margin: 20px 0 10px;
}
/*.pagedown-container:before, .pagedown-container:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-color: transparent;
  pointer-events: none;
}
.pagedown-container:before {
  top: 12px;
  left: -9px;
  border-width: 10px 10px 10px 0;
  border-right-color: #b9b9b9;
}
.pagedown-container:after {
  top: 13px;
  left: -8px;
  border-width: 9px 9px 9px 0;
  border-right-color: white;
}*/


.pagedown-container .bottom-round {

}