<div class="row">
  <button class='btn btn-primary pull-right' style="" {{action 'startNewTopic' }} title="">
    <i class="fa fa-plus"></i>New Conversation
  </button>
</div>
<div class="home-title-row row">
  <h2 id="title">Manage this discourse section</h2>

</div>


