<div class="home-title-row row">
  <h2 id="title">Overview of sections</h2>
</div>

<div class="row">


{{#each section in model.sections }}
  {{section-overview section=section currentSection=controller.settingsService.currentSection }}
{{/each}}


</div>
