<h3>Current Topic</h3>



<div class="topic-container">

  <div class="row" style="">
    <div class="" style="">
      <ul class="nav nav-tabs site-nav-tabs" style="">
        <li class="active">
          {{#link-to 'home' }} Conversations {{/link-to}}
        </li>
        <li>
          {{#link-to 'home.about' }} About {{/link-to}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11 col-sm-12">
      <span class='btn pull-right' style="" {{action 'startNewTopic' }} title="">
        <i class="fa fa-plus"></i>New Conversation
      </span>
    </div>
  </div>


  <div class="topic-details">

    <h1 class="topic-title">{{ model.title }}
  </h1>

    <div class="posts">

      <div class="row">
        <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
          <div class='posts-wrapper'>

            {{#each postModel in controller.postModels }} {{post-details  openModalAction='openModal' 
            postModel=postModel }} {{/each}}

          </div>
        </section>
      </div>
    </div>



  </div>

</div>


