<div class="topic-container">

  <div class="row" style="">
    <div class="" style="">
      <ul class="nav nav-tabs site-nav-tabs" style="">
        <li class="">
          {{#link-to 'discourse-sites.site' controller.currentSite.slug }} Conversations {{/link-to}}
        </li>
        <li class="active">
          {{#link-to 'home.about' }} {{ model.title }} {{/link-to}}
        </li>
      </ul>
    </div>
  </div>


  <div class="topic-details">

    <h1 class="topic-title">{{ model.title }}
  </h1>

    <div class="posts">

      <div class="row">
        <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
          <div class='posts-wrapper'>

            {{#each postModel in postModels }} {{post-details  openModalAction='openModal' 
            postModel=postModel }} {{/each}}

          </div>
        </section>
      </div>
    </div>



  </div>

</div>


