<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" type="button" {{action cancel on="click" }}>x</button>
      <h4 class="modal-title">Edit post</h4>
    </div>
    <div id='modal-alert'></div>

    <div class="modal-body">
    <div class="row">
      <div class='col-sm-12'>
        {{content-composer minContentLength=20 serverError=controller.commentServerError height=200 btnSize=bs-sm content=model.raw focus=true 
        save='updatePost' cancel='closeModal' }}
      </div>
    </div>
    </div>

    <div class="modal-footer">
      <button class='btn' {{action 'closeModal' }} style="">
        Cancel
      </button>
      <button class='btn btn-primary' {{action 'updatePost' }} title="">
        Save
      </button>
    </div>




  </div>
</div>
