<div class="row" style="">

  <div class="" style="">
    <ul class="nav nav-tabs site-nav-tabs" style="">
      <li >
         {{#link-to 'drive-admin.sections' }} Manage sections {{/link-to}}
      </li>
      <li class="active">
         {{#link-to 'drive-admin.discettes' }} Manage discettes {{/link-to}}
      </li>

    </ul>
  </div>

</div>



<div class="row">

  <div class="col-sm-6">
    <h4>Discettes:</h4> 

    {{#each discette in model.discettes }} 
    {{#link-to 'drive-admin.discettes.details' discette.id }}
    <div class="row">
      <div class="col-sm-3">
      <h5>{{ discette.name }}</h5>
      </div>
      <div class="col-sm-3">
        <span style="font-weight: bold;">Slug:</span> <span>{{ discette.slug }}</span>
      </div>
      <div class="col-sm-4">
        <span style="font-weight: bold;">Description:</span> <span>{{ discette.description }}</span>
      </div>

    </div>
    {{/link-to}} 
    {{/each}}

  </div>

  <div class="col-sm-6">
    {{outlet}}
  </div>

</div>
