
{{discette-header openModalAction='openModal' currentUser=currentUser currentSection=currentSection }}

<div class="container discette-main" style="margin-top: 40px;">
  {{outlet}}
</div>


{{outlet "modal"}}

