<div>
  <h3>Discourse sites     <button class="btn btn-primary pull-right" {{action showAddSiteModal}}>Add a discourse site</button>
 </h3>
</div>

<div class="row offline-topics">
  <div class="col-md-3">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">

      <ul class="nav nav-pills nav-stacked">
        {{#each site in model }} {{#link-to 'discourse-sites.site' site.slug tagName="li" class="topic-nav-item" }}
        <a {{bind-attr href="view.href" }}>{{ site.display_name }}</a> {{/link-to}} {{/each}}
      </ul>

    </div>
  </div>
  <div class="col-md-9" role="main">
    {{ outlet }}
  </div>
</div>


