<section class='d-dropdown' id='user-dropdown'>
  <ul class='user-dropdown-links'>
    <li><button {{action "logout"}} class='btn btn-danger right logout'><i class='fa fa-sign-out'></i>Log Out</button></li>
  </ul>
</section>
